@charset "UTF-8";
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul::after{
    display: block;
    content: "";
    clear: both;
}
header{
    box-sizing: content-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    /* 모바일 상태가 기본.*/
    background-color: rgba(0,0,0,0.7);
}
.header_in{
    padding : 0 10px;
}
h1{
    float: left;
    color: white;
    font-family: 'Comfortaa', cursive;
    letter-spacing: 5px;
    line-height: 50px;
}
h1 span{
    display: none;
}
nav{
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: rgba(1,1,1,0.5);
}
nav ul{

}
nav li{

}
nav li a{
    display: block;
    padding: 15px;
    color: white;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}
.trigger{
    float: right;
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
}
.trigger span{
    width: 30px;
    height: 2px;
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 15px);
    background-color: white;
    text-indent: -9999px;
    transition: .4s;
}
.trigger span::before, .trigger span::after{
    content: "";
    border-top: 2px solid white;
    width: 30px;
    height: 2px;
    display: block;
    position: absolute;
}
.trigger span::before{
    top: -7px;
    transition: .4s;
}
.trigger span::after{
    top: 7px;
    transition: .4s;
}
.trigger.on span{
    width: 0;
}
.trigger.on span::before{
    transform: rotate(45deg);
    top: 0;
}
.trigger.on span::after{
    transform: rotate(-45deg);
    top: 0;
}
main{
    width: 100%;
    height: 100vh;
    background: url(../img/hard.jpg) fixed center center / cover;
}
/* 768px ~ : 태블릿, destTop */
@media (min-width : 768px){
    header{
        height: auto;
        background: rgba(0,0,0,0.4);
    }
    .header_in{
        padding: 0;
        width: 100%;
    }
    h1{
        float: none;
        font-size: 35px;
        text-align: center;
        line-height: 70px;
    }
    h1 span{
        display: inline-block;
    }
    .trigger{
        display: none;
    }
    nav{
        display: block;
        position: static;
        text-align: center;
    }
    nav ul{
        display: inline-block;
    }
    nav li {
        float: left;
    }
    nav li a{
    display: block;
    padding: 0 15px;
    line-height: 40px;
    border-top: none;
    }

}